.button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.button:active {
    transform: scale(0.95);
}