.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.svg {
    width: 60vw;
    stroke-dasharray: 4500;
    opacity: 0;
    fill: var(--primary-color);
    fill-opacity: 0;
    mask-image: linear-gradient(60deg, rgba(0, 0, 0, 0.5) 10%, #fff, rgba(0, 0, 0, 0.5) 90%);
    mask-size: 300% 100%;
    animation: draw 3s 0.75s ease-in-out forwards, blink 3s infinite alternate;
}

@keyframes blink {
    100% {
        mask-position: right;
    }
}

.svg path, .svg polygon {
    stroke: var(--foreground-color);
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
        opacity: 0;
        fill-opacity: 0;
    }

    10% {
        opacity: 1;
        fill-opacity: 0;
    }
    
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
        fill-opacity: 1;
    }
}

.logoName {
    stroke-width: 1;
    font-family: var(--font-family);
    font-size: 44.093px;
}

@media (min-width: 768px) {
    .svg {
        width: 30vw;
    }
}


