.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.5s 2.5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.svg {
    width: 80vw;
    stroke-dasharray: 4500;
    opacity: 0;
    animation: draw 3s 0.75s ease-in-out forwards;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }
    
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.logoName {
    stroke-width: 1;
    font-family: var(--font-family);
    font-size: 44.093px;
}

@media (min-width: 768px) {
    .svg {
        width: 40vw;
    }
}


