.wrapper section {
    padding-block-start: 8rem;
    padding-block-end: 4rem;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 90vw;
}

.contactSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.contactCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-background-color-muted);
    border: 1px solid var(--default-border-color);
    padding: 2rem;
    border-radius: 0.25rem;
}

.subtitle {
    font-family: 'Satoshi Light';
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--default-text-color-muted);
}

.title {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--default-text-color);
}

.socials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.socialItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary-background-color-muted);
    border: 1px solid var(--default-border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--default-text-color);
    font-family: 'Satoshi Light';
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 100;
}

.leftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .contactSection {
        flex-direction: row;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
    }

    .logo {
        width: 40vw;
        height: 40vw;
    }

    .contactWrapper {
        width: 60vw;
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactCard.animate,
.socials.animate {
  animation: fadeInUp 1s ease-out forwards;
}

.contactCard,
.socials {
  opacity: 0;
}

