.modal {
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    width: 90%;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.modalClose{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.modalHeader{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalHeader h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

.modalHeader p {
    font-size: 1rem;
    color: var(--text-color);
}

.modalButtons{
    display: grid;
    gap: 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    .modalContainer{
        width: 50%;
        padding: 2rem;
    }

    .modalButtons{
        grid-template-columns: repeat(2, 1fr);
    }
}

