.navbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem 1rem;
  background-color: var(--primary-background-color-muted);
  width: 90%;
  border: 1px solid var(--default-border-color);
  border-radius: 0.25rem;
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0;
  animation: fade-in-down 1s ease-out forwards;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.navbar button {
  padding-block: 0.5rem;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  color: var(--default-text-color);
  font-family: 'Satoshi';
  font-weight: 300;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: var(--default-text-color);
  font-family: 'Satoshi Light';
  font-weight: 100;
  position: relative;
  padding-bottom: 2px;
}

.dropdown {
  position: fixed;
  width: 90%;
  height: 0;
  top: 5.75rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-background-color-muted);
  border: 1px solid var(--default-border-color);
  border-radius: 0.25rem;
  backdrop-filter: blur(30px);
  z-index: 100;
  padding: 0.5rem 1rem;
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  transition-property: height display;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;  
}

.open {
  display: flex;
  height: calc(100dvh - 7rem);
  @starting-style {
    height: 0;
  }
}

.dropdown > * {
  width: 100%;
}

.dropdown a {
  padding-block: 0.5rem;
}

@media (min-width: 768px) {
  .navbar {
    width: 60%;
  }

  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--default-text-color);
    transition: width 0.3s ease;
  }
  
  .link:hover::after {
    width: 100%;
  }
}