.footer {
  background-color: var(--primary-background-color-muted);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.socials {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.logo {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.socialsIcons {
  display: grid;
  gap: 1rem;
  place-content: center;
  width: min-content;
}

.socialLink, .link {
  font-size: 1rem;
  color: var(--default-text-color-muted);
  cursor: pointer;
  text-decoration: none;
  display: grid;
  align-items: center;
  gap: 1rem;
}

.socialLink {
  grid-template-columns: 1fr 1fr;
}

.icon {
  background-color: var(--primary-background-color-muted);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--default-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.title {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-family: 'Satoshi';
}

.links {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  grid-column: span 2;
}

.buttons {
  display: grid;
  gap: 1rem;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footerContent {
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 0 auto;
  }

  .logo{
    align-self: flex-start;
  }

  .pages {
    align-items: flex-start;
  }

  .links {
    align-items: flex-start;
    grid-column: span 1;
  }

  .footerBottom {
    width: 60%;
    margin: 0 auto;
  }
}