.slider {
    width: 90%;
    margin: 0 auto;
    height: calc(var(--item-height) + 2.5rem);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20% 80%,
            rgb(0, 0, 0, 0));
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--item-width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    --animation-duration: 20s;
    width: var(--item-width);
    height: var(--item-height);
    position: absolute;
    left: 100%;
    animation: scrollLeft var(--animation-duration) linear infinite var(--direction);
    animation-delay: calc(var(--animation-duration) / var(--quantity) * (var(--quantity) - var(--item-position)) * -1);
    fill: var(--default-icon-color);
    text-align: center;
}

.slider .list .item p {
    font-size: 0.5rem;
    margin-block-start: 0.5rem;
}

@keyframes scrollLeft {
    to {
        left: calc(var(--item-width) * -1);
    }
}

@media (min-width: 768px) {
    .slider .list .item p {
        font-size: 0.75rem;
    }
}

