.slider {
    width: 100%;
    margin: 0 auto;
    height: var(--item-height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20% 80%,
            rgb(0, 0, 0, 0));
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--item-width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    --animation-duration: 15s;
    width: var(--item-width);
    height: var(--item-height);
    position: absolute;
    left: 100%;
    animation: scrollLeft var(--animation-duration) linear infinite;
    animation-delay: calc(var(--animation-duration) / var(--quantity) * (var(--quantity) - var(--item-position)) * -1);
}

.slider:hover .list .item {
    animation-play-state: paused;
}

.slider .list .item:hover svg {
    transition: all 0.3s ease;
    fill: var(--secondary-color);
    cursor: pointer;
}

@keyframes scrollLeft {
    to {
        left: calc(var(--item-width) * -1);
    }
}

@media (min-width: 768px) {
    .slider {
        width: 60%;
    }
}

